extends ./web/layout/layout

block link
  link(rel="stylesheet" href="index.css")
    
block content
  .message 오일스테이션 서버입니다.
  if user
    input.btn(type="button", value="로그아웃" onClick="location.href='/user/logout'")
  else
    input.btn(type="button", value="로그인" onClick="location.href='/user/auth'")
    input.btn(type="button", value="관리자/매장 로그인" onClick="location.href='/auth'")
    
  .flash-message=message