extends ./web/layout/layout

block link
  link(rel="stylesheet" href="index.css")
    
block content
  .message=message
  if user
    input(type="button", value="로그아웃" onClick="location.href='/user/logout'")
  else
    input(type="button", value="로그인" onClick="location.href='/user/auth'")