extends ./web/layout/layout

block link
  link(rel="stylesheet" href="index.css")
    
block content
  .message 오일스테이션 서버입니다.
  if user
    input.btn(type="button", value="로그아웃" onClick="location.href='/user/logout'")
    if (user.role === 'user')
      input.btn(type="button", value="오일 확인" onClick="location.href='/user/oil'")
    else if (user.role === 'shop')
      input.btn(type="button", value="라이더 검색" onClick="location.href='/shop/user/list'")
    else if (user.role === 'admin')
      input.btn(type="button", value="매장 리스트" onClick="location.href='/admin/shop/list'")
  else
    input.btn(type="button", value="로그인" onClick="location.href='/user/auth'")
    input.btn(type="button", value="관리자/매장 로그인" onClick="location.href='/auth'")
    
  .flash-message=message