<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link rel="stylesheet" href="login.css">
</head>

<body>
  <div class="container">
    <div class="loginContainer">
      <div class="loginTitle">
        Sign Up
      </div>
      <div class="loginDescription">
        Log in with your data that you entered
        during your registration.
      </div>
      <form class="loginForm" action="auth" method="get">
        <div class="ID">
          ID
        </div>
        <input type="text" name="id" class="loginId">
        <div class="Password">
          Password
        </div>
        <input type="text" name="password" class="loginPassword">
        <button type="submit" class="loginBtn">Log in</button>
      </form>
    </div>
  </div>
</body>

</html>