doctype
html
  head
    meta  
    title 로그인  
    link(rel="stylesheet" href="login.css")
    
  body
    .container
      .loginContainer
        .loginTitle Sign Up
        .loginDescription Log in with your data that you entered during your registration.
        form.loginForm(action="auth/login" method="post")
          .ID ID
          input.loginId(type="text" name="id")
          .Password Password
          input.loginPassword(type="text" name="password" class="loginPassword")
          button.loginBtn(type="submit") Log In