@media screen and (max-width: 400px) {
  .wrap {
    transform: scale(0.5);
  }
  .loginContainer {
    width: 500px !important;
    height: 0 !important;
    margin: 0 !important;
    left: -50% !important;
    top: -50% !important;
  }
  .loginForm {
    height: 0 !important;
  }
}
