@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,800&display=swap');

@font-face {
  font-family: AppleSDGothicNeoB00;
  src: url('/font/AppleSDGothicNeoB.ttf');
}
@font-face {
  font-family: AppleSDGothicNeoM00;
  src: url('/font/AppleSDGothicNeoM.ttf');
}
@font-face {
  font-family: NanumSquareR;
  src: url('/font/NanumSquareR.ttf');
}

.container {
}
.loginContainer {
  position: absolute;
  width: 600px;
  height: 600px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -300px;
}

.loginForm {
  width: 500px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.loginTitle {
  height: 51px;
  font-family: Montserrat;
  font-size: 49px;
  font-weight: 800;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.07;
  letter-spacing: -1.23px;
  text-align: center;
  color: #26242d;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 14px;
}

.adminLoginTitle {
  font-family: AppleSDGothicNeoB00;
  font-size: 40px;
  color: #26242d;
  padding-bottom: 20px;
}

.loginDescription {
  width: 275px;
  height: 38px;
  font-family: AppleSDGothicNeoB00;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: -0.38px;
  text-align: center;
  color: #676767;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 16px;
}

.loginId {
  width: 408px;
  height: 41px;
  border-radius: 8px;
  border: solid 1px #d0d0d0;
  background-color: #ffffff;
  margin-bottom: 11px;
  padding-left: 10px;
}
.ID {
  width: 16px;
  height: 13px;
  font-family: AppleSDGothicNeoB00;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.43px;
  text-align: left;
  color: #676767;
  padding-bottom: 11px;
}
.loginPassword {
  width: 408px;
  height: 41px;
  border-radius: 8px;
  border: solid 1px #d0d0d0;
  background-color: #ffffff;
  margin-bottom: 11px;
  padding-left: 10px;
}
.Password {
  width: 72px;
  height: 14px;
  font-family: AppleSDGothicNeoB00;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.43px;
  text-align: left;
  color: #676767;
  padding-bottom: 11px;
}

.id-description {
  padding-bottom: 25px;
}
.pw-description {
  padding-bottom: 28px;
}

.id-description,
.pw-description {
  width: 117px;
  height: 14px;
  font-family: NanumSquareR;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -0.38px;
  text-align: left;
  color: #b0b3b7;
}

.id-description,
.pw-description,
.ID,
.Password {
  padding-left: 46px;
}

.loginBtn {
  width: 408px;
  height: 45px;
  border-radius: 8px;
  border-style: none;
  background-color: #ffcc04;
  font-size: 18px;
  line-height: 2.31;
  letter-spacing: -0.45px;
  font-family: AppleSDGothicNeoM00;
}

.descript {
  height: 15px;
  font-family: AppleSDGothicNeoM00;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.37;
  letter-spacing: -0.38px;
  text-align: center;
  color: #858484;
}

.radio {
  margin-bottom: 20px;
}

input::placeholder {
  font-family: NanumSquareR;
  font-size: 15px;
  line-height: 1.17;
  letter-spacing: -0.38px;
  color: #b0b3b7;
  color: #b0b3b7;
}
