extends ../../layout/layout


block content
  section(class='container')
    .content-header
      h2(class='title-page') 지점 관리
      ul(class='bread-crumb')
        li
          a(href='/')
            i(class='fa fa-home')
        li 지점관리
        li 지점목록
    .contents
      form#listForm(method='get')
        input#page(type='hidden' name='page' value=query.page)
        fieldset(class='search-field')
          legend 지점 검색
          .row
            .col
              label(for='keyword') 택스트 검색
              .input-group-select
                input#keyword(type='text' name='keyword' placeholder='검색어 입력' value=query.keyword)
          .btn-group
            button(type='submit' class='btn btn-success-md btn-search submit') 검색
    .contents
      .table-wrap
        .table-option
          .right
            button#save(class='btn btn-success-sm', onclick='saveView()') 지점등록
        table(class='table')
          caption 목록 테이블
          colgroup
            col(width='30%')
            col(width='30%')
            col(width='20%')
            col(width='20%')
          thead
            tr
              th(scope='col') 지점이름
              th(scope='col') 비밀번호
              th(scope='col') 등록일
              th(scope='col') 삭제
            tbody
              each item in result.shopList
                tr
                  td #{item.shopName}
                  td #{item.password}
                  td
                    +getDateFormat(item.regDt)
                  td
                    button(class='btn btn-primary-sm',onclick="deleteShop('"+item.shopKey+"')") 삭제
        +pageing(query.page,query.pageSize,result.totalCount,'listForm')

block scripts
  include ./script/list_script
