extends ../../layout/layout

block content
  section(class='container')
    .content-header
      h2(class='title-page') 지점 관리
      ul(class='bread-crumb')
        li
          a(href='/')
            i(class='fa fa-home')
        li 지점관리
        li 지점등록
    .contents
      form#viewFrm
        h3(class='font-lg') 지점 등록
        table(class='line-table')
          colgroup
            col
            col
            col
            col
          tbody
            tr
              td 지점명
              td
                span.col
                  input#shopName.col-10(type='text' name='shopName' placeholder='지점 명')
                  input#shopNameCheck(type='hidden' value='N')
                span.col
                  button.btn.btn-success-md(type="button" onclick='duplicateCheck()') 중복체크
              td 비밀번호
              td
                input(type='password' name='password' placeholder='비밀번호')
      .btn-group
        button#save(class='btn btn-success-md', onclick='save()') 등록
        button#list(class='btn btn-primary-md', onclick='goToList()') 목록
  form#listFrm(action='/admin/shop/list' method='GET')
    input(type='hidden' name='keyword' value=query.keyword)



block scripts
  include ./script/view_script
