extends ../../layout/front

block link
  link(rel="stylesheet" href="/registerShop.css")

block content
  .container
    .registerContainer
      .title 라이더 수정
      table(width="550px" height="150px" align="center")
        tr.userPhoneNumber
          th.phoneNumber 전화번호
          td
            input.phoneNumber-input(type="text", name="PHONE_NUMBER", placeholder="전화번호 입력")
        tr.userOilLiter
          th.oilLiter 충전 또는 사용 오일양
          td
            input.oilLiter-input(type="text", name="OIL-LITER", placeholder="오일양 입력")
      div.buttonGroup
        button.submit(onclick='updateUser()') 수정 
        button.submit(onclick='goToList()') 목록 

block scripts
  include ./scripts/updateUser_script.pug
