extends ./layout/layout2

block link
  link(rel="stylesheet" href="/login.css")
    
block content
  .loginContainer
    .adminLoginTitle 매장 & 관리자 로그인
    if (!user)
      form.loginForm(action="auth/login" method="post" enctype="application/json")
        .ID ID
        input.loginId(type="text" name="username" required autofocus)
        .Password Password
        input.loginPassword(type="password" name="password" required)
        .radio
          input.radioBtn(type="radio" name="role" value="shop" checked)
          | 매장
          input.radioBtn(type="radio" name="role" value="admin")
          | 관리자
        button.loginBtn(type="submit") Log in
      div=message
    