html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 오일 스테이션

    link(rel="stylesheet", href="/front.css")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    block link
      
  body(class='body' onload="update_screen_size()" onresize="update_screen_size()")
    div(class='wrap')
      block content
      
      block scripts
      script.
        async function update_screen_size() {
          console.log("Inner width : "+window.innerWidth);
          console.log("Scroll width : " + document.body.scrollWidth);
          console.log("Inner height : "+window.innerHeight);
          console.log("Scroll height : " + document.body.scrollHeight);
          
          const data = {
            innerWidth: window.innerWidth,
            scrollWidth: document.body.scrollWidth,
            innerHeight: window.innerHeight,
            scrollHeight: document.body.scrollHeight,
          }
          const result = await axios.post('/currentSize', data);
        }
      