html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 오일 스테이션

    link(rel="stylesheet", href="/front.css")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    block link
      
  body(class='body')
    div(class='wrap')
      block content
      
      block scripts