html
  head
    meta  
    title 오일 스테이션
    link(rel="stylesheet" href="/layout.css")
    link(rel="stylesheet" href="/reset.css")
    link(rel="stylesheet" href="/ui.admin.css")
    block link  
  
  body(class='body')
    div(class='wrap')
      block content
      block scripts