html
  head
    meta  
    title 오일 스테이션
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    block link
  
  body(class='body')
    div(class='wrap')
      block content
      block scripts