script.

    function goToList(){
      try{
        document.location.href = '/shop/user/list'
      }
      catch(err){
        console.error(err)
      }
    }

    async function addBikeNumber(userKey){
       
      const bikeNumber = document.querySelector('.phoneNumber-input').value
      //const userkey = document.querySelector('.name-input').value
      console.log('userKey:', userKey)

      return console.log('bikeNumber:', bikeNumber)

      //body 만들어서 날려야함
      const bodyData = {
        userKey: userKey,
        bikeNumber: bikeNumber
      }
      console.log('bodyData:', bodyData)
      
      const result = await axios.post(`/shop/user/addBikeNumber`, bodyData)
      console.log('addBikeNumber:', result)

      if(result){
          const answer = confirm('정상적으로 등록되었습니다. 목록으로 가시겠습니까?') 
          console.log('answer:', answer)
          if(answer){
            document.location.href = '/shop/user/list'
          }
        }

    }


