script.

    function goToList(){
      try{
        document.location.href = '/shop/user/list'
      }
      catch(err){
        console.error(err)
      }
    }

    async function updateUser(){
      try{
        const user = {}
        const phoneNumber = document.querySelector('.phoneNumber-input').value
        const plusMinus = document.querySelector('.oilLiter-input').value

        user.PHONE_NUMBER = phoneNumber

        console.log('user:', user)

        if(!phoneNumber){
          return alert('전화번호는 꼭 넣으셔야 합니다.')
        }

        //유저 존재 체크하면서 oil history 데이터 가져오기
        const exUser = await axios.get(`/shop/user/searchUser?phoneNumber=${phoneNumber}`)  //나중에 진짜 데이터는 각각 다른 전화번호를 넣으므로 phoneNumber를 이용할 것임
        console.log('exUser:', exUser)

        if(exUser.data.length === 0){
          return alert('존재하지 않는 회원입니다.')
        }

        // exUser에서 user_key, shop_key 모두 얻을 수 있을것
        const intPlusMinus = +plusMinus
        const intOilLiter = +exUser.data[0].OIL_HISTORY[0].OIL_L
        const oilLiter = intOilLiter + intPlusMinus
        console.log('oilLiter:', oilLiter)
        const oilHistory = {
          USER_KEY: exUser.data[0].OIL_HISTORY[0].USER_KEY,
          SHOP_KEY: exUser.data[0].OIL_HISTORY[0].SHOP_KEY,
          PLUS_MINUS: +plusMinus,
          OIL_L: intOilLiter + intPlusMinus
        }
        console.log('oilHistory:', oilHistory)

        // oil history는 업데이트 할때마다 새로 생성해야함.
        const createOilHistory = await axios.post('/shop/user/createOilHistory', oilHistory)
        console.log('createOilHistory:', createOilHistory)
        
        user.OIL_L = oilLiter
        console.log('user:', user)

        const updatedUser = await axios.put('/shop/user/updateUser', user)
        
        if(updatedUser){
          const answer =  confirm('정상적으로 수정되었습니다. 목록으로 가시겠습니까?') 
          console.log('answer:', answer)
          if(answer){
            document.location.href = '/shop/user/list'
          }
        }

      }catch(err){
        console.error(err)
      }
    }