script.
  $(document).ready(function(){
    let table = $('#usersTable').DataTable({
     processing : true,
     serverside: true,
     order: [],
     ajax: {
        'url':'http://localhost:3000/user', 
        'type': 'GET',
        'dataSrc':''
     },
    columns: [
        {"data": "name"},
        {"data": "phone_number"},
        {"data": "oil_amount"}, 
        {"data": "bike_number"}
    ]
    });
  })
  
