script.
        function getUser(){    
          const xhr = new XMLHttpRequest();

          xhr.onload = function() {
              if(xhr.status === 200){
                  let users = JSON.parse(xhr.responseText)
                  console.log('users:', users)
                  let tbody = document.querySelector('.table tbody')
                  console.log('tbody:', tbody)
                  tbody.innerHTML = '';
                  users.map(function(user, index) {
                      let row = document.createElement('tr');
                      //- row.setAttribute("id", `${index}`)
                      //- //console.log('row:', row)

                      //- row.addEventListener('click', function(){
                      //-     getUserDetail(user.cmn_code_id);
                          
                      //-     row.style.backgroundColor = "#eeeded"
                      //-     console.log('row.id:', row.id)
                      //-     for(let i=0; i<cmnCodes.result.length; i++){
                      //-         let newRow = document.getElementById(`${i}`)
                      //-         if(newRow.id !== row.id){
                      //-             newRow.style.backgroundColor = ""
                      //-         }
                      //-     }
                      //- })

                      let td = document.createElement('td')
                      td.textContent = user.NAME;
                      row.appendChild(td);

                      td = document.createElement('td')
                      td.textContent = user.PHONE_NUMBER;
                      row.appendChild(td);

                      td = document.createElement('td')
                      td.textContent = user.OIL_L;
                      row.appendChild(td);

                      td = document.createElement('td')
                      td.textContent = user.OIL_L;
                      row.appendChild(td);

                      tbody.appendChild(row);
                  })
                  console.log('tbody:', tbody)
              } else {
                  console.error(xhr.responseText);
              }
          }
          //console.log('query:', query)
          xhr.open('GET', `http://localhost:3000/user`)
          xhr.send();
        }

        window.onload = function() {
        const el = document.getElementById('searchBtn')
        if(el){
            el.addEventListener('click', function() {
              getUser();
            })
        }

        const ell = document.getElementById('delRowBtn')
        if(ell){
            ell.addEventListener('click', function() {
            delRow();
            })
          }
        }      
